.fr-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 50px;
}

.incoming-requests,
.outgoing-requests {
  width: 540px;
}

@media (max-width: 500px) {
  .fr-container {
    padding: 10px;
  }

  .incoming-requests,
  .outgoing-requests {
    width: 300px;
  }
}