.login-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 100px auto;
}

.form-inputs > label {
  font-size: 18px;
}

.form-inputs > input {
  height: 30px;
  width: 200px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.form-inputs > input:focus {
  border: solid 3px black;
}

.login-form-btn {
  margin-top: 40px;
  width: 150px;
  height: 40px;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #b5d4fd;;
  font-size: 18px;
}

.login-form-btn:hover {
  filter: brightness(1.1);
}

.login-form-btn:active {
  filter: brightness(0.9);
}

.no-account-msg {
  text-decoration: none;
  color: blue;
  font-size: 0.9em;
  font-style: italic;
}

.guest-notice {
  font-size: 0.9em;
  font-style: italic;
  width: 500px;
}

.guest-login-btn {
  margin-top: 40px;
  width: 150px;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #9cacc0;;
  font-size: 18px;
}

.guest-login-btn:hover {
  filter: brightness(1.1);
}

.guest-login-btn:active {
  filter: brightness(0.9);
}

@media (max-width: 500px) {
  .form-inputs {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .form-inputs > label {
    display: none;
  }

  .form-inputs > input {
    width: 240px;
  }

  .no-account-msg > p {
    width: 240px;
  }

  .guest-notice {
    width: 240px;
  }
}