.header {
  height: 56px;
  background-color: #ffffff;
  color: #1877f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-search {
  height: 20px;
  border: none;
  padding: 10px;
  background-color: #f0f2f5;
  border-radius: 20px;
}

.nav-search:focus {
  outline: none;
}

.nav-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-right > div {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.site-title,
.site-title2,
.nav-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.site-title2 {
  display: none;
}

.nav-btn {
  font-size: 16px;
}

a.nav-link {
  text-decoration: none;
  color: inherit;
}

.fr-nav {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.fr-nav:hover {
  filter: invert(19%) sepia(2%) saturate(1793%) hue-rotate(314deg) brightness(93%) contrast(77%);
}

@media (max-width: 500px) {
  .site-title {
    display: none;
  }

  .site-title2 {
    display: flex;
  }

  .site-title2 > i {
    display: flex;
  }

  .nav-logo {
    height: 35px;
  }

  .nav-search {
    width: 180px;
  }

  .nav-right {
    display: none;
  }

  .fr-nav {
    display: none;
  }

  .nav-left {
    margin-left: -15px;
  }

  .signup-btn,
  .login-btn {
    display: none;
  }

  .expanded-options {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    margin-top: 5px;;
    margin-left: -10px;
    display: flex;
    gap: 10px;
  }

  .expanded-options > button {
    border: none;
    background-color: #b5d4fd;
    padding: 10px;
    border-radius: 10px;
  }
}