.header {
  height: 56px;
  background-color: #ffffff;
  color: #1877f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-right > div {
  display: flex;
  gap: 20px;
}

.site-title,
.nav-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.nav-btn {
  font-size: 16px;
}

a.nav-link {
  text-decoration: none;
  color: inherit;
}