.comment-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
}

.new-comment {
  width: 350px;
  height: 70px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f2f5;
  font-family: inherit;
}

@media (max-width: 500px) {
  .comment-form {
    border: none;
    background-color: inherit;
  }

  .new-comment {
    width: 240px;
    background-color: #fff;
  }

  .comment-form > form {
    display: flex;
    flex-direction: column;
  }

  .user-post-btn {
    align-self: center;
    width: 200px;
    height: 50px;
  }
}