.post-container {
  padding: 20px;
  background-color: #f0f2f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.post-header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-author {
  margin: 0;
  font-weight: bold;
}

.post-date {
  margin: 0;
  font-size: 0.9em;
}

.post-actions {
  align-self: end;
  display: flex;
  gap: 10px;
}

.post-action {
  height: 25px;
  cursor: pointer;
}

.post-action:hover {
  filter: invert(43%) sepia(71%) saturate(5009%) hue-rotate(203deg) brightness(98%) contrast(94%);
}

.likes-container,
.comment-group {
  display: flex;
  align-items: center;
  gap: 5px;
  font-style: normal;
}

.delete-prompt {
  display: flex;
  flex-direction: column;
  border: dashed 2px red;
  padding: 5px;
}

.delete-prompt > p {
  text-align: center;
}

.prompt-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.prompt-buttons > button {
  background-color: #fff;
  border: solid 2px black;
  border-radius: 10px;
  padding: 5px;
  width: 60px;
  cursor: pointer;
}

.prompt-buttons > button:hover {
  filter: brightness(0.9);
}

.prompt-buttons > button:active {
  filter: brightness(0.8);
}