.preview-container {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.preview-container:hover {
  filter: brightness(0.9);
}

.preview-pic {
  height: 70px;
}

.preview-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 10px;
  gap: 5px;
}

.preview-name {
  font-size: 1em;
  margin: 0;
}

.preview-act-created {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}