.preview-container,
.friends-preview {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.preview-container {
  cursor: pointer;
}

.friends-link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 5px;
}

.preview-container:hover,
.friends-link:hover {
  filter: brightness(0.9);
}

.preview-pic {
  height: 70px;
  border-radius: 50%;
}

.preview-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 10px;
  gap: 5px;
}

.preview-name {
  font-size: 1em;
  margin: 0;
}

.preview-act-created {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}

.friends-link {
  text-decoration: none;
  color: inherit;
}

.remove-friend {
  border: none;
  background-color: #9ec5f7;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.remove-friend:hover {
  filter: brightness(1.1);
}

.remove-friend:active {
  filter: brightness(1.2);
}