.request-preview {
  background-color: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.request-preview > .request-link > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.request-link {
  text-decoration: none;
  color: inherit;
}

.response {
  display: flex;
  gap: 10px;
  align-self: center;
}

.response-btn {
  height: 40px;
  border-radius: 10px;
  border: none;
  align-self: center;
  padding: 10px;
  cursor: pointer;
  background-color: #9ec5f7;
  font-weight: bold;
  width: 100px;
}

.response-btn:hover {
  filter: brightness(1.1);
}

.response-btn:active {
  filter: brightness(1.2);
}

.response-btn.cancel-btn {
  width: 125px;
}

@media (max-width: 500px) {
  .request-preview {
    padding: 10px;
    width: 280px;
  }

  .response {
    display: flex;
    flex-direction: column;
  }
}