.update-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.update-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrong-user {
  font-size: 44px;
  color: red;
}

.current-photo-caption {
  font-weight: bold;
  font-size: 2em;
  border-bottom: solid 3px black;
}

.current-avatar {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.update-photo-form {
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.update-photo-form > .form-group > label {
  font-weight: bold;
  font-size: 1.1em;
}

.pfp-update {
  border-bottom: solid 2px black;
  padding: 5px;
}

.update-avatar-btn {
  padding: 10px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #a3c3eb;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.update-avatar-btn:hover {
  filter: brightness(1.1);
}

.update-avatar-btn:active {
  filter: brightness(0.9);
}